In [17]:
import sys
sys.path.append("../tools/")
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pprint.pprint
import seaborn as sns
from tester import dump_classifier_and_data, test_classifier
from feature_format import featureFormat, targetFeatureSplit

In [132]:
### Task 1: Select what features you'll use.
### features_list is a list of strings, each of which is a feature name.
### The first feature must be "poi".
features_list = ['poi','salary'] # You will need to use more features

### Load the dictionary containing the dataset
with open("final_project_dataset.pkl", "r") as data_file:
    data_dict = pickle.load(data_file)

In [150]:
### Task 2: Remove outliers

people = sorted(list(data_dict.keys()))
c1 = pd.Series(people[0:30])
c2 = pd.Series(people[30:60])
c3 = pd.Series(people[60:90])
c4 = pd.Series(people[90:120])
c5 = pd.Series(people[120:])
columns = pd.DataFrame({' ':c1, '  ':c2, '   ':c3, '    ':c4, '     ':c5})
columns = columns.replace(np.nan, '', regex=True)
def highlight_vals(val, color='green'):
    if val=='TOTAL' or val=='THE TRAVEL AGENCY IN THE PARK':
        return 'background-color: %s' % color
    else:
        return ''

columns.style.applymap(highlight_vals, subset=[' ', '  ', '   ','    ', '     '])

In [196]:
# for person, k in data_dict.iteritems():
#     all_nan = False
#     #print person
#     for key, value in k.iteritems():
#         #if all(value is None for value in key):
#         print person, key, value
#         #else:
#          #   print key,value
for person, k in data_dict.iteritems():
    if np.isnan(k).all():
        print person
#     for key, val in k.iteritems():
#         all_nan = True
#         if val != 'NaN':
#             print person

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [215]:
# for person, k in data_dict.iteritems():
#     all_nan = False
#     #print person
#     for key, value in k.iteritems():
#         #if all(value is None for value in key):
#         print person, key, value
#         #else:
#          #   print key,value
# for person, k in data_dict.iteritems():
#     if 'OCKHART EUGENE E' in person:
#         for key, val in k.iteritems():
#             print str(val)
for person, k in data_dict.iteritems():
#     if'OCKHART EUGENE E' in person:
#         print person, k
    print all(str(value)=='NaN' for value in k)
#         print person

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False